<div class="index-card">
  <div class="image" style="background-image: url({{this.image}});">
  </div>
  <div class="detail-content">
    <div class="detail-content-info">
      <span class="shop-name"><i class="fas fa-utensils"></i>{{this.name}}</span>
      <span class="shop-name-en"><i class="fas fa-signature"></i>{{this.name_en}}</span>
      <span class="shop-category"><i class="far fa-bookmark"></i>{{this.category}}</span>
      <span class="shop-location"><i class="fas fa-map-marker-alt"></i>{{this.location}}</span>
      <span class="shop-rating"><i class="fas fa-star-half-alt"></i>{{this.rating}}</span>
    </div>
    <div class="detail-content-btn">
      <a href="/{{this._id}}" class="shop-detail"><i class="far fa-eye"></i>更多內容</a>
      <a href="/restaurant/{{this._id}}" class="shop-edit"><i class="fas fa-edit"></i>編輯</a>
      <button type="button" class="card-shop-delete" data-id="{{this._id}}"><i class="fas fa-trash-alt"></i>刪除
      </button>
    </div>
  </div>
</div>