<div class="all-details">
  <div class="details">
    <div class="detail-body">
      {{#each (first restaurants)}}
        <div class="detail-image" style="background-image: url({{this.image}});"></div>
        <div class="detail-info">
          <span class="shop-name"><i class="fas fa-utensils"></i>{{this.name}}</span>
          <span class="shop-name-en"><i class="fas fa-signature"></i>{{this.name_en}}</span>
          <span class="shop-category"><i class="far fa-bookmark"></i>{{this.category}}</span>
          <span class="shop-phone"><i class="fas fa-phone"></i>{{this.phone}}</span>
          <span class="shop-location"><i class="fas fa-map-marker-alt"></i>{{this.location}}</span>
          <span class="shop-rating"><i class="fas fa-star-half-alt"></i>{{this.rating}}</span>
          <p class="shop-description"><i class="fas fa-info-circle"></i>{{this.description}}</p>
          <div class="btn-box">
            <a class="back-to-home" href="/">回首頁</a>
            <a href="/restaurant/edit/{{this._id}}" class="shop-edit"><i class="fas fa-edit"></i>編輯</a>
            <form action="/restaurant/{{this._id}}?_method=DELETE" method="post">
              <button type="button" class="shop-delete" data-bs-toggle="modal" data-bs-target="#delete-confirm"><i
                  class="fas fa-trash-alt"></i>
                刪除
              </button>
              <div class="modal fade" id="delete-confirm" aria-labelledby="delete-confirm-Label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="delete-confirm-Label">提醒您注意</h5>
                    </div>
                    <div class="modal-body">
                      請確認要刪除此餐廳資料...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-undo"></i>返回</button>
                      <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i>確認刪除</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="similar-list">
    <h5 class="relative-list">同區域推薦餐廳</h5>
    {{#each (last restaurants)}}
    {{>card}}
    {{/each}}
  </div>
</div>