<div class="main">
  {{#if (empty restaurants)}}
  <h1 class="noResult">親! 很抱歉, 找不到您想找的餐廳, 要不在試一下吧</h1>
  {{else}}
  <div class="cards">
    {{#each restaurants}}
    <div class="index-card">
      <div class="image" style="background-image: url({{this.image}});">
      </div>
      <div class="detail-content">
        <div class="detail-content-info">
          <span class="shop-name"><i class="fas fa-utensils"></i>{{this.name}}</span>
          <span class="shop-name-en"><i class="fas fa-signature"></i>{{this.name_en}}</span>
          <span class="shop-category"><i class="far fa-bookmark"></i>{{this.category}}</span>
          <span class="shop-location"><i class="fas fa-map-marker-alt"></i>{{this.location}}</span>
          <span class="shop-rating"><i class="fas fa-star-half-alt"></i>{{this.rating}}</span>
        </div>
        <div class="detail-content-btn">
          <a href="/{{this._id}}" class="shop-detail"><i class="far fa-eye"></i>更多內容</a>
          <a href="/{{this._id}}?_method=PUT" class="shop-edit"><i class="fas fa-edit"></i>編輯</a>
          <a href="/?_method=DELETE" class="shop-delete"><i class="fas fa-trash-alt"></i>刪除</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>